:root {
  /* Colors */
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  --stone-900: hsl(24, 5%, 18%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-100: hsl(30, 54%, 90%);

  --brown-800: hsl(14, 45%, 36%);
  --white: hsl(0, 0%, 100%);

  /* Spacing */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-600: 3rem; /* 48px */
  --spacing-1600: 8rem; /* 128px */

  /* Typography - general */
  --letter-spacing: 0;

  --line-height-100: 1;
  --line-height-150: 1.5;

  --ff-accent: "Young Serif", serif;
  --ff-base: "Outfit", sans-serif;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Typography - font-sizes */

  --fs-preset-1-rgl: 2.5rem; /* 40px */
  --fs-preset-2-rgl: 1.75rem; /* 28px */
  --fs-preset-3: 1.25rem; /* 20px */
  --fs-preset-4: 1rem; /* 16px */
}

 @font-face {
  font-display: swap; 
  font-family: 'Young Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/young-serif/young-serif-regular-400.woff2') format('woff2'); 
}

 @font-face {
  font-display: swap; 
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/outfit/outfit-regular-400.woff2') format('woff2'); 
}

 @font-face {
  font-display: swap; 
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/outfit/outfit-600.woff2') format('woff2'); 
}

 @font-face {
  font-display: swap; 
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/outfit/outfit-700.woff2') format('woff2'); 
}
